{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mb-5">Nos produits</h1>

    <form method="get" class="mb-5 w-50">
        <input class="form-control mb-2" type="text" name="price" id="price" placeholder="Prix minimum...">

        <button class="btn btn-primary">Filtrer</button>
    </form>

    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }} €</td>
                    <td>
                        <a href="{{ path('app_product_show', { slug: product.slug }) }}" class="btn btn-secondary">
                            Voir le produit
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination">
            {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ path('app_product', { page: page - 1 }) }}">Page précédente</a>
            </li>
            {% endif %}

            {% for i in 1..total %}
            <li class="page-item">
                <a class="page-link" href="{{ path('app_product', { page: i }) }}">{{ i }}</a>
            </li>
            {% endfor %}

            {% if page < total %}
            <li class="page-item">
                <a class="page-link" href="{{ path('app_product', { page: page + 1 }) }}">Page suivante</a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
