<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}The Social Network{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
        {% endblock %}
    </head>
    <body class="font-[Lato] bg-gray-100">
        <header class="shadow-md bg-white">
            <div class="flex items-center justify-between max-w-4xl mx-auto px-3">
                <div class="flex items-center">
                    <h1 class="font-bold text-gray-800 text-lg">
                        <a href="{{ path('home') }}">The Social Network</a>
                    </h1>
                    <nav class="ml-4">
                        <ul class="flex">
                            {% set route = app.request.get('_route') %}
                            <li class="px-3">
                                <a class="inline-flex text-gray-400 py-4 border-b-2 border-transparent hover:text-blue-500 hover:border-blue-500 {{ route == 'home' ? 'text-blue-500 border-blue-500' }}" href="{{ path('home') }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                    </svg>
                                    <span class="ml-3 hidden lg:inline">Accueil</span>
                                </a>
                            </li>
                            <li class="px-3">
                                <a class="inline-flex text-gray-400 py-4 border-b-2 border-transparent hover:text-blue-500 hover:border-blue-500 {{ route == 'app_user' or route == 'app_user_show' ? 'text-blue-500 border-blue-500' }}" href="{{ path('app_user') }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
                                    </svg>
                                    <span class="ml-3 hidden lg:inline">Membres</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div>
                    {% if app.user %}
                        <a href="{{ path('app_user_show', { username: app.user.username }) }}" class="flex items-center">
                            {% if app.user.avatar %}
                            <img class="w-8 h-8 rounded-full mr-3 shadow-md" src="{{ asset(app.user.avatar) }}" alt="{{ app.user.firstname }}">
                            {% endif %}
                            <span class="font-bold">{{ app.user.firstname }}</span>
                        </a>
                    {% else %}
                        <a class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 duration-300" href="{{ path('app_login') }}">Connexion</a>
                        <a class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 duration-300 ml-3" href="{{ path('app_register') }}">Inscription</a>
                    {% endif %}
                </div>
            </div>
        </header>

        <div class="max-w-4xl mx-auto px-3 mt-8">
            {% block body %}{% endblock %}
        </div>

        <footer class="max-w-4xl mx-auto px-3 my-8 py-8 border-t">
            <p class="text-center text-gray-500">Copyright &copy; The Social Network.</p>
        </footer>
    </body>
</html>
