{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.firstname }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="flex flex-wrap lg:flex-nowrap">
        <div class="lg:w-1/3 lg:mr-10">
            <div class="bg-white rounded-md">
                {% if user.avatar %}
                <img class="w-full rounded-t-md" src="{{ asset(user.avatar) }}" alt="{{ user.firstname }}">
                {% endif %}
                <div class="p-3">
                    <h2 class="text-2xl font-bold">{{ user.firstname }}</h2>
                    {% if user.birthday %}
                    <p class="text-gray-600 border-b pb-2 mb-2">Né(e) le {{ user.birthday.format('d/m/Y') }} ({{ user.age }} ans)</p>
                    {% endif %}
                    <p class="text-sm text-gray-600 border-b pb-2 mb-2">
                        <strong>Email:</strong>
                        {{ user.email }}
                    </p>
                    {% if user.biography %}
                    <div class="text-sm text-gray-600">
                        <strong>Biographie:</strong>
                        <p>{{ user.biography }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if app.user == user %}
                <div class="text-center mt-4">
                    <a href="{{ path('app_user_edit') }}" class="inline-block px-6 py-2 bg-blue-500 hover:bg-blue-600 rounded text-white shadow-md duration-300">Modifier</a>
                </div>

                <div class="text-center mt-4">
                    <a href="{{ path('app_logout') }}" class="inline-block px-6 py-2 bg-red-500 hover:bg-red-600 rounded text-white shadow-md duration-300">Déconnexion</a>
                </div>
            {% endif %}
        </div>
        <div class="lg:w-2/3">
            {% if app.user == user %}
                {{ form_start(form) }}
                    <div class="flex items-center">
                        <div class="flex-grow">
                            {{ form_widget(form) }}    
                        </div>
                        <div class="ml-4">
                            <button class="inline-block px-6 py-2 bg-blue-500 hover:bg-blue-600 rounded text-white shadow-md duration-300" formnovalidate>Publier</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            {% endif %}

            {% for post in user.posts %}
                {{ include('_post.html.twig') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
