{% extends 'base.html.twig' %}

{% block title %} Les tortues - {{ parent() }} {% endblock %}

{% block body %}
    <h1>Les Tortues Ninja</h1>

    <form method="get">
        <select name="size" id="size">
            <option value="">Tout</option>
            {% for i in 2..4 %}
                <option {{ app.request.get('size') == i ? 'selected' }} value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>

        <button>Filtrer</button>
    </form>

    {% for turtle in turtles %}
        <div>
            <a href="{{ path('app_ninja_turtle_show', { color: turtle.color }) }}">
                {{ turtle.name }}
            </a>
            <span style="color: {{ turtle.color }}">
                {% for i in 1..turtle.size %}={% endfor %}
            </span>
        </div>
    {% endfor %}
{% endblock %}
